
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<body>
    <h2>Admin</h2>
    <div class="text-center mt-5">
        <a href="/Users/Index" class="btn btn-primary">Manage users</a>
        <a href="/WoDs/Index" class="btn btn-primary">Manage words</a>
        <a href="/ScoreBoards/Index" class="btn btn-primary">Manage score board</a>
    </div>
</body>

