
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<head>
    <style>
        input:focus {
            outline: 0;
            border: none;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
    </style>
</head>

<body>
    <h2>@ViewBag.test1</h2>

    <div class="mx-auto" style="width: 50rem">
        <form action="/Users/Login" method="post" class="form-control border border-3 border-dark-subtle p-2">
            <div class="d-flex">
                <div class="mt-1" style="width: 100px">
                    <label class="fw-bold" style="max-width: 80px">Username</label>
                </div>
                <div class="flex-grow-1 border border-1" style="border-radius: 10px">
                    <input type="text" name="Username" class="border-0 w-100 ps-1" style="border-radius: 10px; height: 30px"/>
                </div>
            </div>

            <div class="d-flex mt-3">
                <div class="mt-1" style="width: 100px">
                    <label class="fw-bold" style="max-width: 80px">Password</label>
                </div>
                <div class="flex-grow-1 d-flex border border-1" style="border-radius: 10px">
                    <input type="password" name="Password" id="txtPassword" class="w-100 border-0 me-1 ps-1" style="border-radius: 10px; height: 30px"/>
                    <button type="button" onclick="seePass()" class="border-0 bg-white me-2">
                        <i class="fa-solid fa-eye col"></i>
                    </button>
                </div>
            </div>

            @{
                if (Session["validate"] != null && Session["validate"].Equals("false"))
                {
                    <div class="text-center text-danger">
                        Username or password is incorrect!
                    </div>
                }
            }

            <div class="text-center mt-4">
                <a href="/Home/Index" class="btn btn-warning">Cancel</a>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>

    <script>
        function seePass() {
            var txtPassword = document.getElementById("txtPassword");
            if (txtPassword.type === "text") {
                txtPassword.type = "password";
            }
            else {
                txtPassword.type = "text";
            }
        }
    </script>
</body>

